$header-font: "Poppins", sans-serif;
$text-font: "Lato", sans-serif;
$color-1: #082b59;
$color-2: #59331d;
$color-3: #d98555;
$color-4: #ffffff;
$color-5: #f2f2f2;
$font-size-1: 2rem;
$font-size-2: 1.3rem;
$list-style-type: none;